.notification-items {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #fff;
  border: 2px dashed #e1003c;
  padding: 10px 20px;
  font-size: 14px;
  z-index: 100;
}
 
.notification-items p {
  margin: 0;
  font-weight: bold;
  color: #333;
}
 